body.dark-theme{
    background-color: rgb(34, 34, 34);
    color: rgb(230, 230, 230);
  }
  .topnav.dark-theme {
    /* changes the top nav bar */
    background-color: rgb(26, 26, 26);
    color: rgb(230, 230, 230);
  }
  .topnav a.active .dark-theme {
    /* changes the colour of the active button */
    background-color: rgb(141, 49, 49);
    color: rgb(255, 255, 255);
  }
  .dropbtn.dark-theme {
    /* changes the colour of the drop down menus */
    background-color: rgb(141, 49, 49);
    color: rgb(255, 255, 255);
  }
  
  @media (prefers-color-scheme: dark) {
    /* Dark theme styles go here */
    body{
      background-color: rgb(34, 34, 34);
      color: rgb(230, 230, 230);
    }
    .topnav {
      /* changes the top nav bar */
      background-color: rgb(26, 26, 26);
      color: rgb(230, 230, 230);
    }
    .topnav a.active {
      /* changes the colour of the active button */
      background-color: rgb(141, 49, 49);
      color: rgb(255, 255, 255);
    }
    .dropbtn {
      /* changes the colour of the drop down menus */
      background-color: rgb(141, 49, 49);
      color: rgb(255, 255, 255);
    }
  
    /* Overrides the dark theme if user presses the button to change to dark theme */
    body.light-theme {
      background-color: rgb(255, 255, 255);
      color: black;
    }
    .topnav.light-theme {
      background-color: #333;
      color: rgb(230, 230, 230);
    }
    .topnav a.active.light-theme {
      background-color: rgb(224, 83, 83);
    color: white;
    }
    .dropbtn.light-theme {
      background-color: rgb(224, 83, 83);
      color: rgb(255, 255, 255);
    }
  }
  
  
  