<!-- layout includes topnav bar, dark mode
      and anything else all pages need -->
{% extends 'layout.html' %}

<!-- shows what is only on this page -->
{% block main %}
<h1>BMWs</h1>
<p>BMWs are ok. They aren't as cool as Minis... Sorry Not Sorry :)</p>
<div class="center-text">
  <h3>Press the buttons and choose a car on each button to look at the info</h3>
</div>
<!-- dropdown for cars -->
<div class="dropdown-group">
  <div class="dropdown">
    <button class="dropbtn">BMW</button>
    <div class="dropdown-content">
      <!-- when you click on a car, it will get the info for that car -->
      {% for bmw in bmws %}
      <!-- 1st section -->
      <a onclick="compareBmw({{ bmw.carID }}, 1);">{{ bmw.carType }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="dropdown">  <!-- this is also a dropdown menu to see info on BMWs -->
    <button class="dropbtn">BWM</button>
    <div class="dropdown-content">
      <!-- when you click on a car, it will get the info for that car -->
      {% for bmw in bmws %}
      <!-- 2nd section -->
      <a onclick="compareBmw({{ bmw.carID }}, 2);">{{ bmw.carType }}</a>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Shows info about the mini they choose -->
<div class="content">
  <div id="section-1"></div>
  <div id="section-2"></div>
</div>
{% endblock main %}

<!-- anything in javascript -->
{% block script %}
<!-- super keeps what is in block script on the layout template -->
{{ super() }}
<script>
  // function to get the info for BMWs
  function compareBmw(id, section) {
    var section_div = document.querySelector(`#section-${section}`);
    var xhttp = new XMLHttpRequest(); // new xmlrequest object
    xhttp.onreadystatechange = function() {
      // function for when the url responds
      if (this.readyState == 4 && this.status == 200) {
        // check if the response was successfull
        section_div.innerHTML = this.responseText;
      }
    };
    // figures out what bmw the user has chosen then gets the info from the database for the bmw chosen
    xhttp.open("GET", `/bmw_api/${id}`, true);
    // shows info of the bmw chosen on page
    xhttp.send();
  }
</script>
{% endblock script %}
