<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BMW</title>
</head>
<body>
    <!-- This is the navbar at the top of the website -->
    <link rel="stylesheet" href="static/styles.css" media="screen"/>
    <div class="topnav">
        <a href="/home">Home Page</a>
        <a href="/mini">Minis Page</a>
        <a class="active" href="/bmw">BMW Page</a>
    </div>
    <div class = "rest"> <!-- This is just to be able to style the page without the navbar -->
        <!-- This is where the rest of the page starts -->
        <h1>BMWs Page - COMING SOON</h1>
    </div>
</body>
</html>