<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/styles.css" media="screen"/>
    <title>Mini and BMW website</title>
</head>
<body> 
    <!-- This is the navbar at the top of the website -->
    <div class="topnav">
        <a class="active" href="/home">Home Page</a>
        <a href="/mini">Minis Page</a>
        <a href="/bmw">BMW Page</a>
    </div> 

    <div class = "rest"> <!-- This is just to be able to style the page without the navbar -->
        <!-- This is where the rest of the page starts -->
        <h1>Welcome to the mini / BMW car website</h1>
        <h3>The ONLY correct opinion:</h3>
        <p>
            Minis are the best cars in the world.
            <br />Everyone should buy a mini.
            <br />BMWs are just a different version of minis. 
            <br />I haven't really looked into BMWs yet so I'll get back to you on how I feel about that. 
            <br />But for now, minis are better.
            <br />Nobody can tell me different.
        </p>
    </div>
</body>
</html>