<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/styles.css" media="screen" />
    <title>Mini and BMW website</title>
</head>

<body>
    <!-- This is the navbar at the top of the website -->
    <div class="topnav">
        <a class="active" href="/home">Home Page</a>
        <a href="/mini">Minis Page</a>
        <a href="/bmw">BMW Page</a>
    </div>
    
    <div class="rest">
        <!-- This is just to be able to style the page without the navbar mostly for the margin -->
        <!-- This is where the rest of the page starts -->
        <h1>Home Page</h1>
        <h3>The ONLY correct opinion:</h3>
        <p>
            Minis are the best cars in the world.
            <br />Everyone should buy a mini.
            <br />BMWs are just a different version of minis.
            <br />I haven't really looked into BMWs yet.
            <br />I'll get back to you on how I feel about those.
            <br />But for now, minis are better.
            <br />Nobody can tell me different.
        </p>
        <div class="dropdown-group">
            <div class="dropdown">
                <button class="dropbtn">Compare Mini</button>
                <div class="dropdown-content">
                    <!-- when you click on a car, it will get the info for that car -->
                    {% for mini in minis %}
                    <a onclick="compareMini({{ mini.Car_ID }}, 1)">{{ mini.CarType }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Compare BMW</button>
                <div class="dropdown-content">
                    <!-- when you click on a car, it will get the info for that car -->
                    {% for bmw in bmws %}
                    <a onclick="compareBmw({{ bmw.carID }}, 1);">{{ bmw.carType }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Shows info about the car they choose -->
        <div class="content">
            <div id="section-1"></div>
            <div id="section-2"></div>
        </div>
        <script>
            function compareMini(id, section) {
                var section_div = document.querySelector(`#section-${1}`);
                var xhttp = new XMLHttpRequest(); // new xmlrequest object
                xhttp.onreadystatechange = function () { // function for when the url responds
                    if (this.readyState == 4 && this.status == 200) { // check if the response was successfull 
                        section_div.innerHTML = this.responseText;
                    }
                };
                xhttp.open("GET", `/mini_api/${id}`, true);
                xhttp.send();
            }
            function compareBmw(id, section) {
                var section_div = document.querySelector(`#section-${2}`);
                var xhttp = new XMLHttpRequest(); // new xmlrequest object
                xhttp.onreadystatechange = function () { // function for when the url responds
                    if (this.readyState == 4 && this.status == 200) { // check if the response was successfull 
                        section_div.innerHTML = this.responseText;
                    }
                };
                xhttp.open("GET", `/bmw_api/${id}`, true);
                xhttp.send();
            }
        </script>
    </div>
</body>

</html>