<!-- layout includes topnav bar, dark mode
      and anything else all pages need -->
{% extends 'layout.html' %}

<!-- shows what is only on this page -->
{% block main %}
<!-- Writing on the home page -->
<h1>Minis and BMWs</h1>
<h3>The ONLY correct opinion:</h3>
<p>
  Minis are the best cars in the world.
  Everyone should buy a mini. BMWs are just a different version of
  minis. I have looked at BMWs and have decided that It doesn't look as
  nice as minis. Minis are better. Nobody can tell me different.
</p>

<div class="center-text">
  <h3>Press the buttons and choose a car on each button to look at the info</h3>
</div>

<div class="dropdown-group">
  <!-- dropdown menu to chose car to see info -->
  <div class="dropdown">
    <button class="dropbtn">Mini</button>
    <div class="dropdown-content">
      <!-- when you click on a car, it will get the info for that car -->
      {% for mini in minis %}
      <a onclick="compareMini({{ mini.Car_ID }}, 1)">{{ mini.CarType }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="dropdown">
    <!-- dropdown menu to chose car to see info -->
    <button class="dropbtn">BMW</button>
    <div class="dropdown-content">
      <!-- when you click on a car, it will get the info for that car -->
      {% for bmw in bmws %}
      <a onclick="compareBmw({{ bmw.carID }}, 1);">{{ bmw.carType }}</a>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Shows info about the car they choose -->
<div class="content">
  <div id="section-1"></div>
  <div id="section-2"></div>
</div>
{% endblock main %}

<!-- anything in javascript on this page -->
{% block script %}
<!-- super keeps what is in block script on the layout template -->
{{ super() }}
<script>
  // function to get the mini info for what is chosen
  function compareMini(id, section) {
    // sets mini to show on section 1 (left side of screen)
    var section_div = document.querySelector(`#section-${1}`);
    var xhttp = new XMLHttpRequest(); // new xmlrequest object
    xhttp.onreadystatechange = function() {
      // function for when the url responds
      if (this.readyState == 4 && this.status == 200) {
        // check if the response was successfull
        section_div.innerHTML = this.responseText;
      }
    };
    //figures out what mini the user has chosen then gets the info from the database for the mini chosen
    xhttp.open("GET", `/mini_api/${id}`, true);
    // shows info of the mini chosen on page
    xhttp.send();
  }
  // function to get the bmw info for what is chosen
  function compareBmw(id, section) {
    // sets bmw to show on section 2 (right side of screen)
    var section_div = document.querySelector(`#section-${2}`);
    var xhttp = new XMLHttpRequest(); // new xmlrequest object
    xhttp.onreadystatechange = function() {
      // function for when the url responds
      if (this.readyState == 4 && this.status == 200) {
        // check if the response was successfull
        section_div.innerHTML = this.responseText;
      }
    };
    // gets the info from the database for the bmw chosen
    xhttp.open("GET", `/bmw_api/${id}`, true);
    // shows info of the bmw chosen on page
    xhttp.send();
  }
</script>
{% endblock script %}
