<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Minis</title>
    <link rel="stylesheet" href="/static/styles.css" media="screen" />
</head>

<body>
    <!-- This is the navbar at the top of the website -->
    <div class="topnav">
        <a href="/home">Home Page</a>
        <a class="active" href="/mini">Minis Page</a>
        <a href="/bmw">BMW Page</a>
    </div>

    <!-- This is where the rest of the page starts -->
    <h1>Minis Page</h1>

    <h3>Press the buttons and choose a car on each button to compare them</h3>
    <!-- This is the dropdown menu with all the different minis -->
    <div class="dropdown-group">
        <div class="dropdown">
            <button class="dropbtn">Mini</button>
            <div class="dropdown-content">
                <!-- when you click on a car, it will get the info for that car -->
                {% for mini in minis %}
                <a onclick="compareMini({{ mini.Car_ID }}, 1)">{{ mini.CarType }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Compared with mini</button>
            <div class="dropdown-content">
                <!-- when you click on a car, it will get the info for that car -->
                {% for mini in minis %}
                <a onclick="compareMini({{ mini.Car_ID }}, 2)">{{ mini.CarType }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Shows info about the mini they choose -->
    <div class="content">
        <div id="section-1"></div>
        <div id="section-2"></div>
    </div>
    <script>
        function compareMini(id, section) {
            var section_div = document.querySelector(`#section-${section}`);
            // section_div.innerHTML = id;
            // console.log(id, section, section_div);
            var xhttp = new XMLHttpRequest(); // new xmlrequest object
            xhttp.onreadystatechange = function () { // function for when the url responds
                if (this.readyState == 4 && this.status == 200) { // check if the response was successfull 
                    section_div.innerHTML = this.responseText;
                }
            };
            xhttp.open("GET", `/mini_api/${id}`, true);
            xhttp.send();
        }
    </script>

</body>

</html>